In [1]:
import pandas as pd
import numpy as np

In [2]:
#creating an empty series

ser = pd.Series()

In [3]:
ser

Series([], dtype: float64)

## Creating a series from an array

In [4]:
data = np.array(['A', 'N', 'U'])

In [5]:
pd.Series(data)

0    A
1    N
2    U
dtype: object

## Creating series from lists

In [6]:
data = ['A', 'N', 'U']

In [7]:
pd.Series(data)

0    A
1    N
2    U
dtype: object

## Series from dictionary

In [8]:
dict = {'A': 10,
       'B': 20,
       'C': 30}

In [10]:
ser = pd.Series(dict)

In [11]:
ser['A']

10

In [12]:
ser

A    10
B    20
C    30
dtype: int64

## Series from numpy.random.randn

In [13]:
import numpy as np

In [14]:
ser1 = pd.Series(np.random.randn(4))

In [15]:
ser1

0   -0.304250
1   -0.016060
2    0.016079
3   -0.158920
dtype: float64

# Functionalities of a pandas series

In [22]:
data = np.array([i for i in 'AnurimaDey'])

In [23]:
ser = pd.Series(data)

In [24]:
ser

0    A
1    n
2    u
3    r
4    i
5    m
6    a
7    D
8    e
9    y
dtype: object

In [26]:
ser[:7]

0    A
1    n
2    u
3    r
4    i
5    m
6    a
dtype: object

## indexing in series

In [30]:
df = pd.read_csv('../data/nba.csv', index_col = 'Name')
ser = pd.Series(df['College'])
data = ser.head(10)

In [31]:
data

Name
Avery Bradley                Texas
Jae Crowder              Marquette
John Holland     Boston University
R.J. Hunter          Georgia State
Jonas Jerebko                  NaN
Amir Johnson                   NaN
Jordan Mickey                  LSU
Kelly Olynyk               Gonzaga
Terry Rozier            Louisville
Marcus Smart        Oklahoma State
Name: College, dtype: object

In [32]:
data[3:6]

Name
R.J. Hunter      Georgia State
Jonas Jerebko              NaN
Amir Johnson               NaN
Name: College, dtype: object

In [41]:
# retuens non null observations
data.count()

8

In [36]:
# just an attibute of the series
data.size

10

In [39]:
data.is_unique

False

In [45]:
data.sort_values()

Name
John Holland     Boston University
R.J. Hunter          Georgia State
Kelly Olynyk               Gonzaga
Jordan Mickey                  LSU
Terry Rozier            Louisville
Jae Crowder              Marquette
Marcus Smart        Oklahoma State
Avery Bradley                Texas
Jonas Jerebko                  NaN
Amir Johnson                   NaN
Name: College, dtype: object

In [48]:
data.tolist()

['Texas',
 'Marquette',
 'Boston University',
 'Georgia State',
 nan,
 nan,
 'LSU',
 'Gonzaga',
 'Louisville',
 'Oklahoma State']